<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>OptiRed</title>
</head>
<body>
    <section class="container">
        <div class="spacer">
            <h1 class="title">OptiRed</h1>

            <p class="text">
                Modelo de optimización de redes de telecomunicaciones basado en grafos.<br>
                Analiza la cobertura móvil y las rutas óptimas de interconexión entre distritos.
            </p>
    
        </div>

        <div class="info">
            <p><strong>Información:</strong></p>

            <ul>
                <li>Blancas Chavez, Carlos Franco - <strong>u20241a322</strong></li>
                <li>Celis Berrospi, Eslander - <strong>u201911249</strong></li>
                <li>Guillen Galindo, Julio Adolfo - <strong>u20241a352</strong></li>
            </ul>
        </div>

        <button class="button" onclick="location.href='mapa'">
            Entrar al mapa
        </button>
    </section>
</body>
</html>